<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления алгоритмами</title>
    <link rel="stylesheet" href="static\styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form method="post" action="/run-mode-ui">
            <!-- Выбор режима -->
            <label for="mode"><span class="material-icons icon">tune</span>Режим работы:</label>
            <select name="mode" id="mode" onchange="toggleCalibrationFields()">
                <option value="1">🔧 Калибровка</option>
                <option value="2">🧠 Оптимизация</option>
            </select>

            <!-- Поля для калибровки -->
            <div id="calibration-fields">
                <label for="fps_threshold">FPS порог:</label>
                <input type="number" name="fps_threshold" id="fps_threshold" step="0.1" value="10.0">

                <label for="cpu_threshold">CPU порог (%):</label>
                <input type="number" name="cpu_threshold" id="cpu_threshold" step="0.1" value="50.0">
            </div>

            <button type="submit" style="margin-bottom: 20px;">🚀 Запустить</button>
        </form>

        <script>
        function toggleCalibrationFields() {
            const mode = document.getElementById("mode").value;
            const calibFields = document.getElementById("calibration-fields");
            calibFields.style.display = (mode === "1") ? "block" : "none";
        }
        window.onload = toggleCalibrationFields;
        </script>


        <form method="post" action="/select-model-ui">
            <label for="model_name"><span class="material-icons icon">model_training</span>Доступные модели:</label>
                <select name="model_name" id="model_name">
                    <option value="yolov8">YOLOv8</option>
                    <option value="dlib">Dlib</option>
                    <option value="mtcnn">MTCNN</option>
                    <option value="insightface">InsightFace</option>
                    <option value="retinaface">RetinaFace</option>
                    <option value="mediapipe">MediaPipe</option>
                    <option value="haarcascade">Haar Cascade</option>
                    <option value="ssd">SSD</option>
                </select>
            <button type="submit">✅ Выбрать модель</button>
        </form>

        {% if result %}
        <div class="result">
            <strong>Результат:</strong><br>
            {{ result }}
        </div>
        {% endif %}

        {% if current_model %}
        <p>🔘 Текущая модель: <strong>{{ current_model }}</strong></p>
        {% endif %}
        
    </div>
</body>
</html>
